@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'ComicSansBold';
	src: url(../fonts/ComicSansBold.ttf);
}
@font-face{
	font-family: 'PrestigeSignatureScript';
	src: url(../fonts/PrestigeSignatureScript.ttf);
}
#contact img{
	float: right;
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
}
#contact a{
	text-decoration: none;
}
body {
	color: white;
	text-align: center;
	background-image: linear-gradient(to left, #cc2b5e, #753a88);
	font-family: 'ComicSansBold';
}
#info{
	margin: 30px;
}
#sign{
	font-size: 40px;
	font-family: 'PrestigeSignatureScript';
}
.card{
	background-image: linear-gradient(to right, #cc2b5e, #753a88);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
}
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img{
	border-radius: 5px 5px 0 0;
}
.container{
	padding: 2px 16px;
}
