@charset "utf-8";
/* CSS Document */
/*class is reffered by . and id is reffered by #*/

p {
	padding: 20px;
}
.logo img{
	float: left;
	width:  40px;
	height: auto;
	margin-top: 10px;
}
.topnav{
	overflow: hidden;
}
.topnav a{
	float: right;
	text-align: center;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover{
	background-color: white;
	color: black;
}
.title{
	color: white;
	font-size: 30px;
}
h5{
	color: white;
}
.button {
    width: 140px;
     height: 40px;
     border:none;
     border:solid 2px white;
     border-radius: 5px;
     background: rgba(255, 255, 255,0);
	font-family: 'ComicSansBold', arial;
	color: white;
}
.button3 {border-radius: 8px;}
#info{
	margin: 50px;
	font-family: 'ComicSansBold';
}

#quote{
	font-style: italic;
}
p {
	color: beige;
}
h1 {
	color: snow;
}
h5 {
	color: snow;
}
#contact{
	text-align: center;
	text-decoration: none;
}
#contact img{
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
}
#contact a{
	text-decoration: none;
}
.copyright{
	color: white;
	font-size: xx-small;
	text-align: right;
}
table{
	color: white;
	border: 2px dotted white;
	margin-left: auto;
	margin-right: auto;
}
table td{
	border: 1px dotted white;
}
.selected{
	background-color: magenta;
}
#schedule{
	font-family: 'Gamja Flower', cursive;
}
ol {
	color: white;
	text-align: center;
	list-style: none;
}
div, iframe{
	display: block;
	margin: 5px auto;
}
textarea{
	height: 100px;
}
form{
	color: white;
	text-align: center;
}
body {
	font-family: 'ComicSansBold', arial;
	background: linear-gradient(to right, #c33764, #1d2671); 
}
/*
ul{
	list-style-type: none;
	float: right;
	margin-top: 5px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: .6s ease;
}
ul li a:hover{
	background-color: white;
	color: #000;
}
*/

progress{
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 30%;
	height: 20px;
}
progress::-webkit-progress-bar {
	background:linear-gradient(to right, #cc2b5e, #753a88);
	border-radius: 10px;
}
progress[value]::-webkit-progress-value{	
	background: linear-gradient(#c33764, #1d2671);
	border-radius: 10px;
}

header{
	height: 20px;
	width: 100%;
}
footer{
	width: 100%;
	padding: 60px 0px;
}

.main{
	max-width: 1200px;
	margin: auto;
}
/*
@keyframes spin {
  from{
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg); 
    ms-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
}
.imageSpin{
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
*/
@font-face{
	font-family: 'ComicSansBold';
	src: url(../fonts/ComicSansBold.ttf);
}
font-family: 'Unlock', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Gamja Flower', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Lobster', cursive;